<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Detalle de ingresos/gastos</h4>

				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col">Descripción</th>
							<th scope="col">Cantidad</th>
							<th scope="col">Tipo</th>
							<th scope="col"></th>
						</tr>
					</thead>

					<tbody>
						<tr *ngFor="let item of ingresosGastos | ordenIngreso">
							<td>{{ item.description | titlecase}}</td>
							<td>{{ item.amount }}</td>
							<td
								[class.text-success]="item.type === 'ingreso'"
								[class.text-danger]="item.type === 'gasto'"
							>
								{{ item.type }}
							</td>
							<td>
								<button
									type="button"
									class="btn btn-outline-danger"
									(click)="delete(item.uid)"
								>
									<i class="fa fa-trash"></i>
									Borrar
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
