<footer class="footer">
  <!-- This should be `0 items left` by default -->
  <span class="todo-count"><strong>0</strong> tareas pendientes</span>
  <!-- Remove this if you don't implement routing -->
  <ul class="filters">
    <li>
      <a class="selected" href="#/">Todas</a>
    </li>
    <li>
      <a href="#/active">Activas</a>
    </li>
    <li>
      <a href="#/completed">Completadas</a>
    </li>
  </ul>
  <!-- Hidden if no completed items are left ↓ -->
  <button class="clear-completed">Borrar completadas</button>
</footer>
